/* 
Title:		Master styles for screen media
Author: 	dan@simplebits.com
*/

body {
	color: #444;
	background: #fff;
	}
	
/* links */

a:link, a:visited {
	outline: none;
	color: #369;
	}
a:hover {
  color: #39c;
}

/* page structure 
--------------------------------------------- */

#wrap {
	
	}
#main {

	}
#secondary {

	}


/* header 
--------------------------------------------- */

/* logo */

#logo {
	
	}

/* nav */

#nav {
  
}

/* main styles 
--------------------------------------------- */


	
/* secondary styles 
--------------------------------------------- */



/* footer 
--------------------------------------------- */

#footer  {

}

/* misc. 
--------------------------------------------- */

.hide {
	display: none;
	}
a img {
	border: none;
	}

/* self-clear floats */

.group:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    }